* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
/* CSS body */

body {
}
/* Start CSS header */
body header {
    width: 100%;
    /* nav + tittle + banner */
    height: 1321px;
    background-color: white;
}

body header #navigation_bar{
    width: 100%;
    height: 39px;
    background-color: black;
}

body header #navigation_bar ul {
    width: 100%;
    height: 39px;
    padding: 8px 16px;
    background-color: black;
    display: flex;
    vertical-align:middle;
    position:relative;
    list-style-type: none;
}

body header #navigation_bar ul .search_icon {
    background-color: black;
    position: absolute;
    right:20px;
}
body header #navigation_bar ul li {
    background-color: black;
    width: 45px;
    height: 23px;
    /* float: left; */
    text-align:center;
    padding: 2px 0px;
    position:relative;
}
body header #navigation_bar ul li a{
    background-color: black;
    border-color:black;
}
body header #navigation_bar ul li a img{
    width: 17px;
    height: 19px;
    background-color: white;
}

body header #tittle{
    width: 100%;
    height: 222px;
    background-color:white;
    font-size: 15px;
    font-family: "Open Sans";
    padding: 48px 16px;
}

body header #tittle h1{
    width: 100%;
    height: 72px;
    margin: 10px 0;
    padding: 12px 0;
    text-align: center; 
    font-size: 48px;
}

body header #tittle h6 {
    width:100%;
    height:24px;
    margin: 10px 0px;
    font-size: 16px;
    text-align: center;
    padding: 4px 0;
}
body header #tittle h6 span{
    background-color: black;
    color:white;
}

body header #banner{
    width: 100%;
    height: 1060px;
    background-color: white;
    position: relative;
}

body header #banner img{
    width: 100%;
    height: 1060px;
}

body header #banner #header_img_text{
    width: 442px;
    height: 265px;
    background-color:rgba(0,0,0,0);
    position: absolute;
    top: 430px;
    left:20px;
    color:white;
}
body header #banner #header_img_text h1{
    width:100%;
    height:54px;
    font-size: 36px;
    margin:10px 0px;
}
body header #banner #header_img_text h2{
    width:100%;
    height:94px;
    font-size: 58px;
    margin:10px 0px;
}
body header #banner #header_img_text button{
    width:124px;
    height:51px;
    font-size: 13.5px;
    padding:12px 24px;
}
/* End CSS header */

/* Start CSS main */
body main  {
    width: 100%;
    height: 3270px;
    display: flex;
    padding: 8px 16px;
    background-color: #EEEEEE;
}

/* Start CSS left_contain */
body main #left_contain{
    width: 75%;
    height:3248px;
    background-color: white;
    margin: 0px 5px;
}
/* Start CSS tittle_contain1 */
body main #left_contain #title_contain1{
    width: 96%;
    height: 1185px;
    background-color: white;
    padding:12px 24px;
    margin:15px ;
    text-align: center;
}
body main #left_contain #title_contain1 h3{
    width:100%;
    height:36px;
    font-size:24px;
    margin:10px 0px;
}
body main #left_contain #title_contain1 h5{
    width:100%;
    height:27px;
    font-size:18px;
    margin:10px 0px;
}
body main #left_contain #title_contain1 h5 span{
    color:rgba(0,0,0,0.2)
}
body main #left_contain #title_contain1 img{
    width:100%;
    height:621px;
    padding:16px 0px;
}
body main #left_contain #title_contain1 #tittlecontain1_paragraph1 {
    width:100%;
    font-size: 15px;
    margin:15px 0px;
    text-align: justify;
    font-size: 17px;
}
body main #left_contain #title_contain1 #tittlecontain1_paragraph1 span {
    font-weight: 400;
}
body main #left_contain #title_contain1 #tittlecontain1_paragraph2 {
    width:100%;
    font-size: 17px;
    margin:15px 0px;
    text-align: justify;
} 
body main #left_contain #title_contain1 #tittlecontain1_button {
    width:100%;
    height:42px;
    margin:15px 0px;
    display:flex;
    position:relative;
}
body main #left_contain #title_contain1 #tittlecontain1_button #button1 {
    width:83px;
    height:42px;
    padding:4px 8px;
    display:flex;
    font-size: 16px;
    position:absolute;
    left:0px;
}
body main #left_contain #title_contain1 #tittlecontain1_button #button1 img{
    width:20px;
    height:20px;
    padding:0px 0px;
}
body main #left_contain #title_contain1 #tittlecontain1_button #button2 {
    width:83px;
    height:42px;
    padding:4px 8px;
    display:flex;
    font-size: 16px;
    background-color: black;
    color:white;
    position:absolute;
    right:0px;
}
body main #left_contain #title_contain1 #tittlecontain1_button #button2 span {
    width:25px;
    background-color: white;
    color:black;
}
body main #left_contain #title_contain1 #tittlecontain1_comment {
    width:100%;
    height:141px;
    margin:30px 0px;
}
body main #left_contain #title_contain1 #tittlecontain1_comment hr{
    width:100%;
    margin:20px 0px;
}
body main #left_contain #title_contain1 #tittlecontain1_comment #comment{
    width:100%;
    height:130px;
    display:flex;
}
body main #left_contain #title_contain1 #tittlecontain1_comment #comment img{
    width:120px;
    height:120px;
    padding:0px 16px 0px 0px;
    display:block;
}
body main #left_contain #title_contain1 #tittlecontain1_comment #comment #comment_paragraph{
    width:85%;
    height:120px;
    background-color: white;
}
body main #left_contain #title_contain1 #tittlecontain1_comment #comment #comment_paragraph h4{
    width:100%;
    height:50%;
    margin:10px 0px;
    font-size: 22.5px;
    background-color: white;
    display:block;
    text-align: left;
    font-weight: 100;
    padding:16px 0px;
}
body main #left_contain #title_contain1 #tittlecontain1_comment #comment #comment_paragraph p{
    width:100%;
    height:25%;
    font-size: 18.5px;
    background-color: white;
    text-align: left;
    padding:6px 0px;
}
/* End CSS tittle_contain1 */

/* Start tittle_contain2 */
body main #left_contain #title_contain2{
    width: 96%;
    height: 1000px;
    background-color: white;
    padding:12px 24px;
    margin:15px ;
    text-align: center;
}
body main #left_contain #title_contain2 h3{
    width:100%;
    height:36px;
    font-size:24px;
    margin:10px 0px;
}
body main #left_contain #title_contain2 h5{
    width:100%;
    height:27px;
    font-size:18px;
    margin:10px 0px;
}
body main #left_contain #title_contain2 h5 span{
    color:rgba(0,0,0,0.2)
}
body main #left_contain #title_contain2 img{
    width:100%;
    height:621px;
    padding:16px 0px;
}
body main #left_contain #title_contain2 #tittlecontain2_paragraph1 {
    width:100%;
    font-size: 15px;
    margin:15px 0px;
    text-align: justify;
    font-size: 17px;
}
body main #left_contain #title_contain2 #tittlecontain2_paragraph1 span {
    font-weight: 400;
}
body main #left_contain #title_contain2 #tittlecontain2_paragraph2 {
    width:100%;
    font-size: 17px;
    margin:15px 0px;
    text-align: justify;
} 
body main #left_contain #title_contain2 #tittlecontain2_button {
    width:100%;
    height:42px;
    margin:15px 0px;
    display:flex;
    position:relative;
}
body main #left_contain #title_contain2 #tittlecontain2_button #button1 {
    width:83px;
    height:42px;
    padding:4px 8px;
    display:flex;
    font-size: 16px;
    position:absolute;
    left:0px;
}
body main #left_contain #title_contain2 #tittlecontain2_button #button1 img{
    width:20px;
    height:20px;
    padding:0px 0px;
}
body main #left_contain #title_contain2 #tittlecontain2_button #button2 {
    width:83px;
    height:42px;
    padding:4px 8px;
    display:flex;
    font-size: 16px;
    background-color: black;
    color:white;
    position:absolute;
    right:0px;
}
body main #left_contain #title_contain2 #tittlecontain2_button #button2 span {
    width:25px;
    background-color: white;
    color:black;
}
/* End tittle_contain2 */

/* Start tittle_contain3 */
body main #left_contain #title_contain3{
    width: 96%;
    height: 1000px;
    background-color: white;
    padding:12px 24px;
    margin:15px ;
    text-align: center;
}
body main #left_contain #title_contain3 h3{
    width:100%;
    height:36px;
    font-size:24px;
    margin:10px 0px;
}
body main #left_contain #title_contain3 h5{
    width:100%;
    height:27px;
    font-size:18px;
    margin:10px 0px;
}
body main #left_contain #title_contain3 h5 span{
    color:rgba(0,0,0,0.2)
}
body main #left_contain #title_contain3 img{
    width:100%;
    height:621px;
    padding:16px 0px;
}
body main #left_contain #title_contain3 #tittlecontain3_paragraph1 {
    width:100%;
    font-size: 15px;
    margin:15px 0px;
    text-align: justify;
    font-size: 17px;
}
body main #left_contain #title_contain3 #tittlecontain3_paragraph1 span {
    font-weight: 400;
}
body main #left_contain #title_contain3 #tittlecontain3_paragraph2 {
    width:100%;
    font-size: 17px;
    margin:15px 0px;
    text-align: justify;
} 
body main #left_contain #title_contain3 #tittlecontain3_button {
    width:100%;
    height:42px;
    margin:15px 0px;
    display:flex;
    position:relative;
}
body main #left_contain #title_contain3 #tittlecontain3_button #button1 {
    width:83px;
    height:42px;
    padding:4px 8px;
    display:flex;
    font-size: 16px;
    position:absolute;
    left:0px;
}
body main #left_contain #title_contain3 #tittlecontain3_button #button1 img{
    width:20px;
    height:20px;
    padding:0px 0px;
}
body main #left_contain #title_contain3 #tittlecontain3_button #button2 {
    width:83px;
    height:42px;
    padding:4px 8px;
    display:flex;
    font-size: 16px;
    background-color: black;
    color:white;
    position:absolute;
    right:0px;
}
body main #left_contain #title_contain3 #tittlecontain3_button #button2 span {
    width:25px;
    background-color: white;
    color:black;
}
/* End tittle_contain3 */
/* End CSS left_contain */

/* Start CSS right_contain */
body main #right_contain{
    width: 35%;
    height: 2841px;
    background-color:white;
    padding:20px;
    position:relative;
} 
/* Start CSS first_comment */
body main #right_contain #first_comment{
    width:100%;
    height:363px;
}
body main #right_contain #first_comment #rightcontain_img1 {
    width:100%;
    height:275px;
} 
body main #right_contain #first_comment #img1_paragraph{
    width:91.75%;
    background-color: black;
    padding: 0px 16px;
    position:absolute;
    top:295px;
    left:20px;
    margin:0px 0px 20px 0px;
}
body main #right_contain #first_comment #img1_paragraph #h4_1{
    width:100%;
    text-align: left;
    font-size: 20px;
    margin:10px 0px;
    background-color: black;
    color:white;
}
body main #right_contain #first_comment #img1_paragraph #p_1{
    width:100%;
    text-align: left;
    font-size: 15px;
    margin:15px 0px;
    background-color: black;
    color:white;
}
/* End CSS first_comment */

/* Start CSS second_comment */
body main #right_contain #second_comment{
    width:100%;
    height:493px;
    background-color:white;
    margin:70px 0px;
    border:0.5px solid #EEEEEE;
}
body main #right_contain #second_comment #h4_2_div{
    width:100%;
    height:60px;
    padding:8px 16px;
    background-color:black;
    color:white;
}
body main #right_contain #second_comment #h4_2_div #h4_2{
    width:100%;
    height:50px;
    margin:10px 0px;
    font-size: 20px;
}
body main #right_contain #second_comment ul{
    width:100%;
    height:433px;
}
body main #right_contain #second_comment ul li{
    width:100%;
    height:25%;
    border: 0.005px solid #EEEEEE;
    padding:16px;
    list-style-type: none;
    display:flex;
}
body main #right_contain #second_comment ul li:hover{
    background-color: #EEEEEE;
}
body main #right_contain #second_comment ul li img{
    width:110px;
    height:76px;
    margin:0px 16px 0px 0px;
}
body main #right_contain #second_comment ul li .img_div{
    width:75%;
    height:100%;
}
body main #right_contain #second_comment ul li .span_1{
    font-size: 20px;
    display:block;
    margin:10px 0px;
}
body main #right_contain #second_comment ul li .span_2{
    font-size: 17px;
    display:block;
    margin:10px 0px;
}
/* End CSS second_comment */

/* Start CSS thrid_comment */
body main #right_contain #third_comment{
    width:100%;
    height:300px;
    background-color: white;
    border:2px solid #EEEEEE;
}
body main #right_contain #third_comment #h4_3_div{
    width:100%;
    height:60px;
    padding:8px 16px;
    background-color:black;
    color:white;
}
body main #right_contain #third_comment #h4_3_div #h4_3{
    width:100%;
    height:30px;
    margin:10px 0px;
    font-size: 20px;
}
body main #right_contain #third_comment #ad_div{
    width:100%;
    height:240px;
    padding:0.5px 16px;
}
body main #right_contain #third_comment #ad_div #ad_text{
    width:100%;
    height:208px;
    margin: 16px 0px;
    padding: 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}
body main #right_contain #third_comment #ad_div #ad_text span{
    height: 21px;
    font-size: 17px;
}
/* End CSS thrid_comment */

/* Start CSS fourth_comment */
body main #right_contain #fourth_comment{
    width:100%;
    height:255px;
    background-color:white ;
    margin:70px 0px;
    border:2px solid #EEEEEE;
}
body main #right_contain #fourth_comment #h4_4_div{
    width:100%;
    height:60px;
    padding:8px 16px;
    background-color:black;
    color:white;
}
body main #right_contain #fourth_comment #h4_4_div #h4_4{
    width:100%;
    height:30px;
    margin:10px 0px;
    font-size: 20px;
}
body main #right_contain #fourth_comment #tags_buttons{
    width:100%;
    height:190px;
    padding:0.5px 16px;
}
body main #right_contain #fourth_comment #tags_buttons p{
    width:100%;
    height:189px;
    padding:15px 0px;
    background-color: white;
}
body main #right_contain #fourth_comment #tags_buttons p span{
    height:25px;
    margin:0px 0px 16px 0px;
    padding:2px 8px;
    background-color: #EEEEEE;
    font-size: 17px;
    display:inline-block;
}
body main #right_contain #fourth_comment #tags_buttons p #special_button{
    color:white;
    background-color: black;
}
/* End CSS fourth_comment */

/* Start CSS fifth_comment */
body main #right_contain #fifth_comment{
    width:100%;
    height:450px;
    background-color: white;
    margin:70px 0px;
    border:2px solid #EEEEEE;
}
body main #right_contain #fifth_comment #h4_5_div{
    width:100%;
    height:60px;
    padding:8px 16px;
    background-color:black;
    color:white;
}
body main #right_contain #fifth_comment #h4_5_div #h4_5{
    width:100%;
    height:30px;
    margin:10px 0px;
    font-size: 20px;
}
body main #right_contain #fifth_comment #pictures_boxes{
    width:100%;
    height:380px;
    background-color: white;
    padding:0px 8px;
    display:flex;
}
body main #right_contain #fifth_comment #pictures_boxes .pictures{
    width:50%;
    height:100%;
    padding:0px 8px;
    display:block;
}
body main #right_contain #fifth_comment #pictures_boxes .pictures img{
    display:block;
    width:195px;
    height:145px;
    margin:32.5px 0px;
}
body main #right_contain #sixth_comment{
    width:100%;
    height:110px;
    background-color:white;
}
/* End CSS fifth_comment */

/* Start CSS sixth_comment */
body main #right_contain #sixth_comment{
    width:100%;
    height:120px;
    border:2px solid #EEEEEE;
}
body main #right_contain #sixth_comment #h4_6_div{
    width:100%;
    height:60px;
    padding:8px 16px;
    background-color:black;
    color:white;
}
body main #right_contain #sixth_comment #h4_6_div #h4_6{
    width:100%;
    height:30px;
    margin:10px 0px;
    font-size: 20px;
}
body main #right_contain #sixth_comment #socialmedia_box{
    width:100%;
    height:50px;
    background-color: white;
    padding:8px 16px;
}
body main #right_contain #sixth_comment #socialmedia_box img{
    width:23px;
    height:26px;
}
/* End CSS sixth_comment */

/* Start CSS seventh_comment */
body main #right_contain #seventh_comment{
    width:100%;
    height:250px;
    background-color: white;
    margin:70px 0px;
    border:2px solid #EEEEEE;
}
body main #right_contain #seventh_comment #h4_7_div{
    width:100%;
    height:60px;
    padding:8px 16px;
    background-color:black;
    color:white;
}
body main #right_contain #seventh_comment #h4_7_div #h4_7{
    width:100%;
    height:30px;
    margin:10px 0px;
    font-size: 20px;
}
body main #right_contain #seventh_comment #infor_box{
    width:100%;
    height:240px;
    padding:0.5px 16px;
}
body main #right_contain #seventh_comment #infor_box p{
    width:100%;
    color:black;
    font-size:18px;
    margin:15px 0px;
}
body main #right_contain #seventh_comment #infor_box input{
    width:100%;
    height:40px;
    padding:8px;
    margin: 5px 0px;
}
body main #right_contain #seventh_comment #infor_box button{
    width:100%;
    height:40px;
    font-size:18px;
    padding:8px 16px;
    background-color: red;
    color:white;
    margin: 5px 0px;
}
body main #right_contain #seventh_comment #infor_box button:hover{
    background-color: #EEEEEE;
    color:black
}
/* End CSS seventh_comment */
/* End CSS main */

/* Start CSS footer */
body footer{
    width:100%;
    height:200px;
    background-color: grey;
    padding:32px;
}
body footer a{
    width:155px;
    height:50px;
    background-color: black;
    margin:40px 0px;
    padding:12px 24px;
    font-size:17px;
    color:white;
    text-decoration: none;
}
body footer #a_1 img{
    width:20px;
    height:20px;
}
body footer p{
    width:100%;
    height:25px;
    margin:28px 0px;
    font-size:17px;
    color:white;
}
body footer p a{
    background-color: rgba(0,0,0,0);
}